body {
  background: url(https://wallpapercave.com/wp/aD6Hiwe.jpg) blue;
}
#maindiv{
  width:50%;
  margin:auto;
  margin-top: 10%;
}

#currentLoc{
  text-align: center;
  margin-bottom: 30px;
}
img{
  width:100px;
  align:middle;

}
#image{
  padding-left: 43%;
  margin-top: 10px;

  margin-bottom: 10px;



}
#currentWeather{
  text-align: center;
  margin-top: -40px;

}
a:link {
    text-decoration: none;
}
a:hover{
  color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}
#changetemp{
  text-align: center;
  margin-top: 50px;
}
span{
  font-size: 10px;
}
